.main {
    margin: auto 25%;
}

.logo {
    width: 20%;
}

.logo .logo-img{
    width: 100%;
}

.content {
    display: flex;
}

.content form {
    height: 100%;
}

.main-content {
    width: 80%;
    padding-left: 20%;
}

.footer {
    margin: auto 25%;
}
