* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: #008cff;
}

.main {
    height: 100%;
    margin: auto 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-block {
    width: 100%;  /* there is no way without it */
    display: flex;
    flex-direction: column;
}

.logo {
    width: 90px;
    margin-right: 10px;
}

.logo-img {
    width: 100%;  /* there is no way without it */
}

.upper-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.search-form {
    width: 100%;
    position: relative;
    background: rgb(255, 201, 61);
    border-radius: 8px;
    border: 2px solid rgb(255, 201, 61);
    display: flex;
}

.search-label {
    width: 100%;  /* there is no way without it */
}

.search {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 0 0 10px;
    border-radius: 8px 5px 5px 8px;
    width: 100%;  /* there is no way without it */
}

.search-btn {
    width: 70px;
    background: none;
    font-size: 1rem;
    line-height: 2.1rem;
    padding: 0 10px;
}

.main-content {
    margin-left: 85px;
    margin-right: 70px;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services-list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.services-list-item-img {
    width: 16px;
    margin-right: 5px;
}

.nav-link {
    color: #5d5d5d;
    margin-right: 20px;
}

.footer {
    margin: auto 25%;
    height: 30px;
}

@media (max-width: 1300px) {
    .main,
    .footer {
        margin: auto 10%;
    }
}

@media (max-width: 900px) {
    .main,
    .footer {
        margin: auto 20px;
    }
}
